*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-family: 'Roboto', sans-serif;
}

body{
  background: linear-gradient(0deg, #D9DCD5 80%, #039789 20%);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active{
  background-color: lightgrey;
}

/* CONTAINERS */
.container{
  width: 85vw;
  height: 95vh;
  display: flex;
}

.left-container{
  width: 40%;
  height: 100%;
  background-color: grey;
}

.right-container{
  width: 60%;
  height: 100%;
}

/* LEFT CONTAINER PROPERTY */

/* HOVER and text-decoration */

  .profile img:hover , .profile span:hover,
  .icons-profile i:hover,
  .alert span:hover,
  .icon-search:hover,
  .user-chats:hover,
  .contact img:hover, .contact p:hover,
  .icons-contact i:hover,
  .chat-text i:hover,
  .chat i:hover{
    cursor: pointer;
  }

  .contact span:hover{
    text-decoration: underline;
  }

  /* .user-chats:hover{
    background-color: lightgrey;
  } */

  .user-chats:after{
    background-color: lightgrey;
  }

/* HOVER and text-decoration */

/* PROFILE */

.profile{
  background-color: #EAEAEA;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img-profile{
  display: flex;
  align-items: center;
}

.profile img{
  width: 10%;
  border-radius: 50%;
  margin-left: 20px;
}

.img-profile span{
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
}

.icons-profile{
  display: flex;

}

.icons-profile i{
  padding: 5px;
  font-size: 20px;
  color: #B1B1B1;
}

.icons-profile i:last-child{
  margin-right: 10px;
}

/* PROFILE */
/* ALERT */

.alert{
  background-color: #8EDAFC;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.alert i{
  font-size: 30px;
  background-color: #FFF;
  padding: 20px;
  border-radius: 50%;
  color: #8EDAFC;
  margin-left: 20px;
}

.alert p{
  font-size: 16px;
  margin-left: 20px;
  margin-bottom: 2px
}

#underline{
  text-decoration: underline;
  color: grey;
}

/* ALERT */
/* SEARCH */

.search{
  background-color: #F1F1F1;
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-search{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 60%;
  border: 1px solid lightgrey;
  background-color: #FFF;
}

.search input{
  width: 75%;
  height: 60%;
  border: 1px solid lightgrey;
  font-size: 15px;
}

.search input:focus{
  outline: 0;
}

/* SEARCH */
/* CONTACTS */

.contacts{
  background-color: #FFF;
  height: 67%;
  overflow-y: scroll;
  width: 100%;
}

.user-chats{
  display: flex !important;
  align-items:center;
  justify-content:flex-start;
  width: 100%;
  height: 20%;
  border-bottom: 1px solid lightgrey;
}

.box-user , .contact{
  display: flex;
  align-items: center;
  width: 60%;
}

.user-chats img{
  width: 15%;
  margin-left: 20px;
  border-radius: 50%;
}

.box-user p , .contact p{
  font-weight: bold;
  font-size: 15px;
  margin-left: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.box-user span , .contact span{
  font-weight: normal;
}

.user-chats .date{
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  width: 40%;
}

.date p{
  font-size: 12px;
  color: grey;
  text-align: right;
}

/* CONTACTS */
/* RIGHT-CONTAINER */

/* FOCUSED CONTACT */

.focused-contact{
  width: 100%;
  background-color: #EAEAEA;
  height: 10%;
  border-left: 1px solid lightgrey;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.focused-contact img{
  width: 10%;
  border-radius: 50%;
  margin-left: 20px;
}

.focused-contact i{
  padding: 5px;
  font-size: 20px;
  color: #B1B1B1;
}

.focused-contact i:last-child{
  margin-right: 10px;
}

/* FOCUSED CONTACT */
/* CHAT-BOX */

.chat-box{
  background-image: url(../img/mine.jpg);
  width: 100%;
  height: 78%;
  overflow-y: scroll;
  padding: 0 50px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}

/* MANDATI IO */
.sent{
  align-self: flex-end;
  padding: 10px 40px  20px 10px;
  background-color: #D5F9BA;
  border-radius: 10px;
  text-align: left;
  font-size: 15px;
  width: 300px;
  overflow-wrap:break-word;
  position: relative;
  margin: 10px 0;
}

/* MANDATI LUI */
.received{
  align-self: flex-start;
  padding: 10px 40px  20px 10px;
  background-color: #FFF;
  border-radius: 10px;
  text-align: left;
  font-size: 15px;
  width: 300px;
  overflow-wrap:break-word;
  position: relative;
  margin: 10px 0;
}

.chat i{
  display: none;
  position: absolute;
  right: 10px;
  top: 5px;
}

.chat:hover i{
  display: block;
}

.dropdown{
  display: none;
  position: absolute;
  transform: translate(140px, 0);
  background-color: #FFF;
  box-shadow: 0 0 5px 1px;
  z-index: 1;
}

.dropdown p:hover{
  cursor: pointer;
  background-color: lightgrey;
  border: 1px solid grey;
}

.dropdown p{
  padding: 10px;
}

.active{
  display: block;
}


.sent span , .received span{
  position: absolute;
  bottom: 3px;
  right: 8px;
  color: grey;
  font-size: 12px;
}



/* CHAT-BOX*/
/* chat-text */

.chat-text{
  background-color: #EAEAEA;
  width: 100%;
  height: 12%;
  border-left: 1px solid lightgrey;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.chat-text i{
  font-size: 25px;
  color: #6E7176;
}

.chat-text input{
  width: 80%;
  height: 65%;
  border-radius: 5px;
  padding: 0 10px;
}

/* chat-text */
